section.blogpost.mt-30
    p.page-text The Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
    ul.page-list-marked.mb-30
        li.page-list-marked__item The Samsung Q80/Q80T QLED
        li.page-list-marked__item is better than the Samsung Q70/Q70T QLED for most uses.
        li.page-list-marked__item he Q80T has a full-array local dimming feature,
        li.page-list-marked__item can get brighter in HDR, and has much wider viewing angles.
        li.page-list-marked__item The Samsung Q80/Q80T QLED
    p.page-text The Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
    ol.page-list-numeric.mb-30
        li.page-list-numeric__item The Samsung Q80/Q80T QLED
        li.page-list-numeric__item is better than the Samsung Q70/Q70T QLED for most uses.
        li.page-list-numeric__item he Q80T has a full-array local dimming feature,
        li.page-list-numeric__item can get brighter in HDR, and has much wider viewing angles.
        li.page-list-numeric__item The Samsung Q80/Q80T QLED
    p.page-text The Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.