section.blogpost
    h2.blogpost-title.page-title Best articles. Probably name in 2 lines. Best articles. Probably name in 2 lines
    span.blogpost-date.articles-list__date Trends - 24.01.2022
    p.page-text The Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
    p.page-text The Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
    h2.page-title-small.mt-30.mb-20 H2 Some header in text
    p.page-text The Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
    .page-img-full
        picture
            source(type="image/webp", srcset="static/images/content/blogpost/blogpost-img.webp")
            img(src="static/images/content/blogpost/blogpost-img.png", alt="Pic")
