// First banner
.banner
    .banner-img
        picture
            source(type="image/webp", srcset="static/images/general/banners/DC_771.webp")
            img(src="static/images/general/banners/DC_771.png", alt="Pic")
    .banner-content
        h4.banner-title Dewalt Atomic 20-Volt MAX Cordless Brushless Compact 1/4 in.
        .banner-footer
            .banner-circular.circular.js-circular-progress(data-percent="90")
                svg.circular-progress
                    circle(r='30' cx='35' cy='35')
                    circle.circular-progress__percent(r='30' cx='35' cy='35')
                span.circular-info
                    span.circular-info__number
                    span.circular-info__text Points
            a.btn-amazon.banner-btn-amazon(href="#")
                span.btn-amazon__text See price
                span.btn-amazon__img
                    img(src="static/images/general/amazon_icon.svg", alt="")

.banner
    .banner-img
        picture
            source(type="image/webp", srcset="static/images/general/banners/DC_771.webp")
            img(src="static/images/general/banners/DC_771.png", alt="Pic")
        .banner-circular.circular.js-circular-progress(data-percent="90")
            svg.circular-progress
                circle(r='30' cx='35' cy='35')
                circle.circular-progress__percent(r='30' cx='35' cy='35')
            span.circular-info
                span.circular-info__number
                span.circular-info__text Points
    .banner-content-flex
        h4.banner-title Dewalt Atomic 20-Volt MAX Cordless Brushless Compact 1/4 in.
        a.btn-amazon.banner-btn-amazon(href="#")
            span.btn-amazon__text See price
            span.btn-amazon__img
                img(src="static/images/general/amazon_icon.svg", alt="")

.banner
    .banner-img-small
        picture
            source(type="image/webp", srcset="static/images/general/banners/DC_771.webp")
            img(src="static/images/general/banners/DC_771.png", alt="Pic")
    .banner-content
        h4.banner-title Dewalt Atomic 20-Volt MAX Cordless Brushless Compact 1/4 in.
        p.banner-text The Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR.
        .banner-footer
            .banner-circular-small.circular.js-circular-progress(data-percent="90")
                svg.circular-progress
                    circle(r='30' cx='35' cy='35')
                    circle.circular-progress__percent(r='30' cx='35' cy='35')
                span.circular-info
                    span.circular-info__number
                    span.circular-info__text Points
            a.banner-btn-amazon.btn-amazon(href="#")
                span.btn-amazon__text See price
                span.btn-amazon__img
                    img(src="static/images/general/amazon_icon.svg", alt="")
