footer.footer 
	.footer__container.container
		.footer__item
			a.logo(href="index.htm") Tool Reviews for Home &amp; Garage
			p.footer__copyright.page-text &copy; longcountyboc.com 2021
		.footer__item
			h5.footer__title About Us
			.footer__links
				a.footer__link(href="#") Careers
				a.footer__link(href="#") Corporate Information
				a.footer__link(href="#") Digital Newsroom
				a.footer__link(href="#") Home Depot Foundation
				a.footer__link(href="#") Investor Relations
				a.footer__link(href="#") Government Customers
		.footer__item
			h5.footer__title About Us
			.footer__links
				a.footer__link(href="#") Careers
				a.footer__link(href="#") Corporate Information
				a.footer__link(href="#") Digital Newsroom
				a.footer__link(href="#") Home Depot Foundation
				a.footer__link(href="#") Investor Relations
				a.footer__link(href="#") Government Customers
		.footer__item
			h5.footer__title About Us
			.footer__links
				a.footer__link(href="#") Careers
				a.footer__link(href="#") Corporate Information
				a.footer__link(href="#") Digital Newsroom