.modal-background
    .modal-container
        .modal
            .modal-content
                span.modal-close
                p
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde rerum ab quasi maxime deleniti fuga, quam natus alias quibusdam sit obcaecati. Nam doloremque illum ipsum sint optio aperiam aliquam minima?
                    | Fugiat iusto voluptate vero dolor reiciendis recusandae modi dolorem id iure esse quod vel in quisquam, quis doloremque laudantium? Suscipit ut rem repudiandae dignissimos facilis nisi debitis excepturi, sed perspiciatis?
                    | Praesentium magni inventore quidem nisi est unde exercitationem consectetur. Pariatur magni nihil fugit cum at eius accusantium quas! Voluptas ad tenetur magni ratione cum, voluptatibus quibusdam quisquam quam deleniti adipisci.
                    | Esse dolorum doloremque blanditiis. Nam blanditiis facilis doloremque. Placeat cupiditate illum porro non, sapiente rem dolorem sunt at, inventore ducimus nisi quas natus molestiae atque saepe excepturi, libero deserunt architecto?
                    | Facere, harum dignissimos iusto quis amet assumenda quas odit perferendis ducimus, vel fugiat beatae similique voluptates eos repudiandae doloremque totam! Unde reprehenderit enim repellendus iste a quos id distinctio esse?
                    | Temporibus magni ipsum atque reprehenderit tempore debitis eaque animi voluptatibus, delectus numquam autem, repellendus odit modi repellat sint! Rem quibusdam fugiat eos quisquam praesentium at veritatis odio quasi eius qui!
