nav.greedy-menu.container
    button.toggle-links More
    ul
        li
            a(href='#') Growing Kids
        li
            a(href='#') Baby Proofing
        li
            a(href='#') Category name
        li
            a(href='#') Growing Kids
        li
            a(href='#') Baby Proofing
        li
            a(href='#') Category name
        li
            a(href='#') Growing Kids
        li
            a(href='#') Baby Proofing
        li
            a(href='#') Category name
        li
            a(href='#') Growing Kids
        li
            a(href='#') Baby Proofing
        li
            a(href='#') Category name
        li
            a(href='#') Category name
        li
            a(href='#') Category name
        li
            a(href='#') Category name
        li
            a(href='#') Category name
        li
            a(href='#') Category name