aside.sidebar.sticky-block
	h2.sidebar-title 
		+icon('arrow-right', 'sidebar-title__icon')
		|Table of Contents
	ul.sidebar-menu 
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#top") Top
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#verdict") Verdict
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#specifications") Specifications
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#reviews") Reviews
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#q-a") Q&amp;A