.sidebar-block
    h3.page-title Category
    .category-list
        .category-list__item
            span.category-list__text Trends
            a.category-list__number(href="#") (139)
        .category-list__item
            span.category-list__text Recipes
            a.category-list__number(href="#") (9)
        .category-list__item
            span.category-list__text Recipes
            a.category-list__number(href="#") (9)
        .category-list__item
            span.category-list__text Recipes
            a.category-list__number(href="#") (2399)