aside.sidebar
	h2.sidebar-title 
		+icon('arrow-right', 'sidebar-title__icon')
		|Table of Contents
	ul.sidebar-menu 
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#top") Top
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#verdict") Verdict
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#specifications") Specifications
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#reviews") Reviews
		li.sidebar-menu__item 
			a.sidebar-menu__link(href="#q-a") Q&amp;A
	.sidebar-buttons.show
		.product-header 
			h2.product-header__title.block-title Dewalt DC771
			a.btn-price-amazon.btn-price-amazon--small(href="") 
				span.btn-price-amazon__text See price
				img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
		.product-header 
			h2.product-header__title.block-title Dewalt DC771
			a.btn-price-amazon.btn-price-amazon--small(href="") 
				span.btn-price-amazon__text See price
				img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")