.products-sticky.sticky-block 
	.product-header 
		h2.product-header__title.page-title-small 
			a(href="") Dewalt DC735 
		a.btn-amazon.btn-amazon--small(href="#")
			span.btn-amazon__text See price
			span.btn-amazon__img
				img(src="static/images/general/amazon_icon.svg", alt="")
	.product-header
		h2.product-header__title.page-title-small
			a(href="") Dewalt DC776 
		a.btn-amazon.btn-amazon--small(href="#")
			span.btn-amazon__text See price
			span.btn-amazon__img
				img(src="static/images/general/amazon_icon.svg", alt="")