.products-sticky.sticky-block 
	.product-header 
		h2.product-header__title.page-title-small 
			a(href="") Dewalt DC735 
		a.btn-price-amazon(href="") 
			span.btn-price-amazon__text See price
			img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
	.product-header
		h2.product-header__title.page-title-small
			a(href="") Dewalt DC776 
		a.btn-price-amazon(href="") 
			span.btn-price-amazon__text See price
			img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")