extends ../layout/contact-page

block variables
	- var title = "Contact Us"

block content
	include contact/_contact-heading
	include contact/_contact-form

block script 
	script(src="static/js/libs/jquery-3.6.0.min.js") 
	script(src="static/js/libs/libs.js")
	script(src="static/js/main.js")