extends ../layout/main

block variables
    - var title = "Main"

block content
    include ../modules/_breadcrumbs
    .inner
        include index/sidebar/_filters
        .content
            include index/_rankings
            include index/_category
            include index/_comparisons
            include index/_brands
            include index/_seo
    include index/_resently-viewed

block script
    script(src="static/js/libs/jquery-3.6.0.min.js")
    script(src="static/js/libs/libs.js")
    script(src="static/js/main.js")