extends ../layout/main

block variables
	- var title = "Product compare"

block content
	include ../modules/_breadcrumbs
	.inner
		include ../modules/_sidebar
		.content
			include product/_product
			include product/_verdict
			include product/_rankings
			include product/_product-compare
			include product/_specifications
			//include product/_reviews
			//include product/_questions-and-answers

block script 
	script(src="static/js/libs/jquery-3.6.0.min.js") 
	script(src="static/js/libs/libs.js")
	script(src="static/js/main.js")