extends ../layout/main

block variables
	- var title = "Product"

block modal
	include product/modals/_modal-product-compare
	include product/modals/_modal-add-review
	include product/modals/_modal-add-question

block content
	include ../modules/_breadcrumbs
	.inner
		include ../modules/_sidebar
		.content
			include product/_product
			include product/_verdict
			include product/_rankings
			include product/_score
			include product/_product-compare
			include product/_specifications
			include product/_reviews
			include product/_questions-and-answers
			include product/_related-products
			include product/_help-center
	include product/_resently-viewed

block script 
	script(src="static/js/libs/jquery-3.6.0.min.js") 
	script(src="static/js/libs/libs.js")
	script(src="static/js/main.js")