.help-center {
  &__content {
    column-count: 2;
    column-width: 50%;
    column-gap: 25px;
    @media screen and (max-width: 576px) {
      column-count: 1;
      column-width: 100%;
    }
  }
  &__item {
    margin-bottom: 30px;
    break-inside: avoid;
  }
  &__title {
    margin-bottom: 15px;
    @include rem(18);
    font-weight: 800;
  }
}