.breadcrumbs {
	margin: 15px 0 30px;
	@media screen and (max-width: 1024px) {
		margin: 15px 0;
	}
	&__link {
		font-size: 14px;
		transition: color .3s;
		&.active, &:hover {
			color: $accent-color;
		}
		&.active {
			pointer-events: none;
		}
		&:not(:last-child)::after {
			content: '';
			display: inline-block;
			margin: 0 10px;
			width: 2px;
			height: 10px;
			background-color: $accent-color;
		}
	}
}