.header {
	position: relative;
	padding: 10px 0;
	background-color: $accent-color;
	color: #fff;
	@include rem(17);
	@media screen and (max-width: 800px) {
		padding: 0;
	}
	&-container {
		display: flex;
		align-items: center;
		position: relative;
	}
	.logo {
		@media screen and (max-width: 800px) {
			padding-right: 50px;
		}
		@media screen and (max-width: 480px) {
			max-width: 295px;
		}
	}
}