/* modal */
body.modal-active {
  overflow: hidden;
}

.modal {
  position: relative;
  max-width: 920px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #fff 100%, #fff 100%),
  linear-gradient(to bottom, #fff 100%, #fff 100%),
  linear-gradient(to right, #fff 100%, #fff 100%),
  linear-gradient(to bottom, #fff 100%, #fff 100%);
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  border-radius: 3px;

  &-background {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    overflow-y: auto;
    @media screen and (max-width: 576px) {
      padding: 15px 5px;
    }

    &.opened {
      transform: scale(1);
      background: rgba(0, 0, 0, 0);
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

      .modal {
        background-color: transparent;
        animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards,
        sketchIn 1s linear 1;
      }

      .modal-content {
        opacity: 0;
        position: relative;
        animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }

    &.out {
      animation: quickScaleDown 0s 0.5s linear forwards,
      fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    .modal {
      animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    .modal-content {
      animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }

  &-container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    padding: 25px;
    @media screen and (max-width: 576px) {
      padding: 15px;
    }
  }

  &-close {
    cursor: pointer;
    @extend %center;
    @include position(absolute, $right: 5px, $top: 5px);
    @include size(25px);
    border: 2px solid $text_color;
    border-radius: 3px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      @include size(16px, 2px);
      background-color: $text_color;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &-title {
    @include rem(22);
    margin-bottom: 20px;
    color: $text-color;
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.8);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.8);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes sketchIn {
  0% {
    background-size: 0 2px, 2px 0, 0 2px, 2px 0;
  }
  25% {
    background-size: 100% 2px, 2px 0, 0 2px, 2px 0;
  }
  50% {
    background-size: 100% 2px, 2px 100%, 0 2px, 2px 0;
  }
  75% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 0;
  }
  100% {
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  }
}

@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
