.search-form {
  @include position(absolute, $top: 50%, $right: 15px);
  transform: translateY(-50%);
  &__field {
    @include size(30px);
    background: none;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition-delay: 0.4s;
    color: #ffffff;
    font-size: 16px;
    background: $accent-color;
    pointer-events: none;
    &.inclicked {
      width: 290px;
      height: 40px;
      border-radius: 0;
      padding: 0 10px;
      padding-right: 40px;
      pointer-events: auto;
    }
  }
  &__btn {
    @include position(absolute, $top: 0, $right: 0);
    @include size(30px);
    background: none;
    border: none;
    cursor: pointer;
    &::before {
      content: "";
      @include size(2px, 10px);
      @include position(absolute, $bottom: -6px, $right: -2px);
      background: #fff;
      transform: rotate(-45deg);
      transition: 0.3s;
    }
    &.close {
      &::before, &::after {
        content: "";
        @include position(absolute, $bottom: 4px, $right: 14px);
        @include size(2px, 14px);
        background: #fff;
      }
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
}