.sidebar {
	position: absolute;
	top: 0;
	flex: none;
	width: 255px;
	@media screen and (max-width: 1024px) {
		position: static !important;
		width: 100%;
		margin-bottom: 20px;
	}
	&.right {
		position: static;
	}
	&.sticky-block {
		@media screen and (max-width: 576px) {
			display: none;
		}
	}
	&-title {
		padding: 15px 5px 15px 25px;
		font-size: 18px;
		color: #fff;
		background-color: $accent-color;
		&__icon {
			margin-right: 10px;
			@include size(16px);
			fill: #fff;
		}
	}
	&-menu {
		padding-top: 15px;
		background-color: $light-grey;
	}
	&-menu-list {
		padding: 15px 5px 25px 25px;
		&__item:not(:last-child) {
			margin-bottom: 10px;
		}
		&__link {
			line-height: 1.2;
			transition: color .3s;
			&:hover {
				color: $accent-color;
			}
		}
	}
	&-block {
		padding: 20px 15px;
		background-color: $light-grey;
	}
}