.slider {
  &-arrow {
    fill: none;
    stroke: $dark_grey;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;

    circle {
      stroke: $accent_color;
      stroke-dasharray: calc(2 * 11 * 3.14);
      stroke-dashoffset: calc(2 * 11 * 3.14);
    }

    &:hover {
      circle {
        animation: drawCircle .5s linear forwards;
      }
    }
  }
}