.btn-price-amazon {
  display: inline-flex;
  padding: 10px 15px;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, $accent_color 100%, $accent_color 100%),
  linear-gradient(to bottom, $accent_color 100%, $accent_color 100%),
  linear-gradient(to right, $accent_color 100%, $accent_color 100%),
  linear-gradient(to bottom, $accent_color 100%, $accent_color 100%);
  background-size: 100% 2px,
  2px 100%,
  100% 2px,
  2px 100%;
  background-position: 0 0,
  100% 0,
  100% 100%,
  0 100%;
  transition: transform .3s;
  @media screen and (max-width: 480px) {
    padding: 10px;
  }

  &--small {
    padding: 10px;

    .btn-price-amazon__text {
      font-size: 15px;
    }

    .btn-price-amazon__icon {
      @include size(75px, 27px);
      @media screen and (max-width: 480px) {
        @include size(49px, 18px);
      }
    }
  }

  &:hover {
    animation: border .7s linear 1;
  }

  &:active {
    transform: scale(.9);
  }

  &__text {
    margin-top: 2px;
    font-size: 16px;
    font-weight: 600;
    color: $accent-color;
  }

  &__icon {
    @include size(89px, 32px);
    margin-left: 10px;
    @media screen and (max-width: 480px) {
      @include size(49px, 18px);
      margin-left: 5px;
    }
  }
}

.product-btn {
  flex: none;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background-color: $accent-color;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, $accent_color 100%, $accent_color 100%),
  linear-gradient(to bottom, $accent_color 100%, $accent_color 100%),
  linear-gradient(to right, $accent_color 100%, $accent_color 100%),
  linear-gradient(to bottom, $accent_color 100%, $accent_color 100%);
  background-size: 100% 2px,
  2px 100%,
  100% 2px,
  2px 100%;
  background-position: 0 0,
  100% 0,
  100% 100%,
  0 100%;
  transition: transform .3s, background-color .3s;

  &:hover {
    animation: borderThick .7s linear 1;
    background-color: #fff;

    .product-btn__text {
      color: $accent-color;
    }

    .product-btn__icon {
      fill: $accent_color;
    }
  }

  &:active {
    transform: scale(.9);
  }

  &__text {
    color: #fff;
    font-size: 14px;
    line-height: 1.36;
    text-align: left;
    transition: color .3s;
  }

  &__icon {
    margin-left: 5px;
    @include size(18px);
    fill: #fff;
    transition: fill .3s;
  }
}

.btn-amazon {
  @include size(212px, 50px);
  display: inline-flex;
  flex-shrink: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: transform .3s;
  @media screen and (max-width: 359px) {
    width: 200px;
  }

  &:hover {
    .btn-amazon__text {
      animation: borderThick .7s linear 1;
      background-color: #fff;
      color: $accent_color;
    }
  }

  &:active {
    transform: scale(.9);
  }

  &__text, &__img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    background-image: linear-gradient(to right, $accent_color 100%, $accent_color 100%),
    linear-gradient(to bottom, $accent_color 100%, $accent_color 100%),
    linear-gradient(to right, $accent_color 100%, $accent_color 100%),
    linear-gradient(to bottom, $accent_color 100%, $accent_color 100%);
    background-repeat: no-repeat;
    background-color: $accent_color;
    background-size: 100% 4px,
    4px 100%,
    100% 4px,
    4px 100%;
    background-position: 0 0,
    100% 0,
    100% 100%,
    0 100%;
    color: #ffffff;
    @include rem(16);
    font-weight: 600;
    transition: transform .3s, background-color .3s, color .3s;
  }

  &__img {
    padding: 5px 10px;
    border-right: 4px solid $accent_color;
    border-top: 4px solid $accent_color;
    border-bottom: 4px solid $accent_color;
    border-radius: 0 30px 30px 0;

    img {
      max-width: 100%;
      aspect-ratio: 82/25;
    }
  }
}

.btn-add-review {
  position: relative;
  @include size(212px, 50px);
  display: flex;
  align-items: center;
  padding-left: 15px;
  border: none;
  background-color: $accent_color;
  border-radius: 0 30px 30px 0;
  transition: transform .3s;

  @media screen and (max-width: 359px) {
    width: 200px;
    padding-left: 10px;
  }

  &--small {
    @include size(176px, 48px);

    @media screen and (max-width: 576px) {
      width: 150px;
      padding-left: 8px;
      .btn-add-review__dialog-text, .btn-add-review__text {
        @include rem(14);
      }
    }

    .btn-add-review__dialog {
      @include size(40px);
    }
  }

  &:hover {
    .btn-add-review__dialog {
      width: 96%;
      border-radius: 0 30px 30px 0;

      &-text {
        animation: typing 2s steps(30, end);
        width: 100%;
      }
    }
  }

  &:active {
    transform: scale(.9);
  }

  &__text {
    color: #ffffff;
    @include rem(16);
    //font-weight: 600;
  }

  &__dialog {
    @include size(42px);
    @include position(absolute, $top: 4px, $right: 4px);
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #ffffff;
    transition: width .6s, border-radius .3s;
    &-text {
      width: 0;
      overflow: hidden;
      margin-right: auto;
      white-space: nowrap;
      text-align: left;
    }
  }

  &__icon {
    &-dialog {
      @include size(23px, 19px);
      fill: $dark-grey;
      margin: 0 10px;
      flex: none;
    }
  }
}

.btn-add-to-compare {
  position: relative;
  padding: 0 0 0 15px;
  border: none;
  background-color: transparent;
  &:hover {
    .btn-add-to-compare__text {
      border-color: $accent_color;
    }
  }
  &::before, &::after {
    content: '';
    @include position(absolute, $top: 2px, $left: 0);
    @include size(2px, 14px);
    background-color: $accent_color;
  }
  &::after {
    transform: rotate(90deg);
  }
  &__text {
    color: $accent_color;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .3s;
  }
}

.btn-see-more {
  padding: 0;
  background-color: transparent;
  border: none;
  @extend %center;
  margin: 30px auto 0;
  font-weight: 600;
  @include rem(16);
  &.active::before {
    transform: rotate(180deg);
  }
  &::before {
    content: '';
    display: flex;
    margin-right: 10px;
    @include triangle(bottom, $accent_color, 12px, 16px);
    transition: transform .3s;
  }
}

.btn-block {
  margin-top: 35px;
  @extend %center;
}

.btn-center-mobile {
  margin-top: 30px;
  @media screen and (max-width: 576px) {
    margin: 30px auto 0;
  }
}