.btn-price-amazon {
	display: inline-flex;
	padding: 10px 15px;
	white-space: nowrap;
	background-repeat: no-repeat;
    background-image:   linear-gradient(to right, $accent_color 100%, $accent_color 100%),
                        linear-gradient(to bottom, $accent_color 100%, $accent_color 100%),
                        linear-gradient(to right, $accent_color 100%, $accent_color 100%),
                        linear-gradient(to bottom, $accent_color 100%, $accent_color 100%);
    background-size:    100% 2px,
                        2px 100%,
                        100% 2px,
                        2px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
	transition: transform .3s;
	@media screen and (max-width: 480px) {
		padding: 10px;
	}
	&--small {
		padding: 10px;
		.btn-price-amazon__text {
			font-size: 15px;
		}
		.btn-price-amazon__icon {
			@include size(75px, 27px);
			@media screen and (max-width: 480px) {
				@include size(49px, 18px);
			}
		}
	}
	&:hover {
		animation: border .7s linear 1;
	}
	&:active {
		transform: scale(.9);
	}
	&__text {
		margin-top: 2px;
		font-size: 16px;
		font-weight: 600;
		color: $accent-color;
	}
	&__icon {
		@include size(89px, 32px);
		margin-left: 10px;
		@media screen and (max-width: 480px) {
			@include size(49px, 18px);
			margin-left: 5px;
		}
	}
}

.product-btn {
	flex: none;
	display: inline-flex;
	align-items: center;
	padding: 10px;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	background-color: $accent-color;
	background-repeat: no-repeat;
    background-image:   linear-gradient(to right, $accent_color 100%, $accent_color 100%),
                        linear-gradient(to bottom, $accent_color 100%, $accent_color 100%),
                        linear-gradient(to right, $accent_color 100%, $accent_color 100%),
                        linear-gradient(to bottom, $accent_color 100%, $accent_color 100%);
    background-size:    100% 2px,
                        2px 100%,
                        100% 2px,
                        2px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
	transition: transform .3s, background-color .3s;
	&:hover {
		animation: borderThick .7s linear 1;
		background-color: #fff;
		.product-btn__text {
			color: $accent-color;
		}
		.product-btn__icon {
			fill: $accent_color;
		}
	}
	&:active {
		transform: scale(.9);
	}
	&__text {
		color: #fff;
		font-size: 14px;
		line-height: 1.36;
		text-align: left;
		transition: color .3s;
	}
	&__icon {
		margin-left: 5px;
		@include size(18px);
		fill: #fff;
		transition: fill .3s;
	}
}

.btn-amazon {
	@include size(212px, 50px);
	display: inline-flex;
	flex-shrink: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	transition: transform .3s;
	&:hover {
		.btn-amazon__text {
			animation: borderThick .7s linear 1;
			background-color: #fff;
			color: $accent_color;
		}
	}
	&:active {
		transform: scale(.9);
	}
	&__text, &__img {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__text {
		background-image:   linear-gradient(to right, $accent_color 100%, $accent_color 100%),
		linear-gradient(to bottom, $accent_color 100%, $accent_color 100%),
		linear-gradient(to right, $accent_color 100%, $accent_color 100%),
		linear-gradient(to bottom, $accent_color 100%, $accent_color 100%);
		background-repeat: no-repeat;
		background-color: $accent_color;
		background-size:    100% 4px,
		4px 100%,
		100% 4px,
		4px 100%;
		background-position:    0 0,
		100% 0,
		100% 100%,
		0 100%;
		color: #ffffff;
		@include rem(16);
		font-weight: 600;
		transition: transform .3s, background-color .3s, color .3s;
	}
	&__img {
		border-right: 4px solid $accent_color;
		border-top: 4px solid $accent_color;
		border-bottom: 4px solid $accent_color;
		border-radius: 0 30px 30px 0;
		img {
			@include size(89px, 32px);
		}
	}
}

.btn-compare {
	position: relative;
	@include size(212px, 50px);
	display: inline-flex;
	align-items: center;
	padding-left: 15px;
	border: none;
	background-color: $accent_color;
	border-radius: 0 30px 30px 0;
	transition: transform .3s;
	&:hover {
		.btn-compare__arrow {
			width: 96%;
			border-radius: 0 30px 30px 0;
			&::before {
				width: 90%;
			}
		}
	}
	&:active {
		transform: scale(.9);
	}
	&__text {
		color: #ffffff;
		@include rem(16);
		font-weight: 600;
	}
	&__arrow {
		@include size(42px);
		@include position(absolute, $top: 4px, $right: 4px);
		border-radius: 30px;
		background-color: #ffffff;
		transition: width .6s, border-radius .3s;
		&::before, &::after {
			content: "";
			@include position(absolute, $top: 50%);
		}
		&::before {
			@include size(18px, 2px);
			background-color: $accent_color;
			right: 20px;
			margin-right: -9px;
			transition: width .6s;
		}
		&::after {
			@include size(12px);
			right: 12px;
			margin-top: -5px;
			border-top: 2px solid $accent_color;
			border-right: 2px solid $accent_color;
			transform: rotate(45deg);
		}
	}
}

@keyframes border {
	0% {
		 background-size:    0 2px,
									2px 0,
									0 2px,
									2px 0;
	}
	25% {
		 background-size:    100% 2px,
									2px 0,
									0 2px,
									2px 0;
	}
	50% {
		 background-size:    100% 2px,
									2px 100%,
									0 2px,
									2px 0;
	}
	75% {
		 background-size:    100% 2px,
									2px 100%,
									100% 2px,
									2px 0;
	}
	100% {
		 background-size:    100% 2px,
									2px 100%,
									100% 2px,
									2px 100%;
	}
}
@keyframes borderThick {
	0% {
		 background-size:    0 4px,
									4px 0,
									0 4px,
									4px 0;
	}
	25% {
		 background-size:    100% 4px,
									4px 0,
									0 4px,
									4px 0;
	}
	50% {
		 background-size:    100% 4px,
									4px 100%,
									0 4px,
									4px 0;
	}
	75% {
		 background-size:    100% 4px,
									4px 100%,
									100% 4px,
									4px 0;
	}
	100% {
		 background-size:    100% 4px,
									4px 100%,
									100% 4px,
									4px 100%;
	}
}