section.contact-heading(style="background-image: url(static/images/content/pages/contact/contact-heading.jpg)")
    .contact-heading__container.container
        h1.main-title Contact Us
        p.main-subheading Have questions? We have answers.