aside.sidebar
    include ../../../modules/filters/_filters-brand
    include ../../../modules/filters/_filters-price
    include ../../../modules/filters/_filters-rating
    include ../../../modules/filters/_filters-cords
    include ../../../modules/filters/_filters-voltage
    include ../../../modules/filters/_filters-colors