.product-compare {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 1px;
		height: 90%;
		background-color: $grey;
		@media screen and (max-width: 576px) {
			top: calc(50% - 30px);
			left: 50%;
			transform: translateX(-50%);
			width: 45%;
			height: 1px;
		}
	}
	&::after {
		content: 'VS';
		@include position('absolute', $left: 50%, $top: 50%);
		transform: translate(-50%, -50%);
		z-index: 2;
		@include size(124px);
		font-size: 64px;
		line-height: 124px;
		text-align: center;
		color: $accent_color;
		background-color: $light-grey;
		border-radius: 50%;
		@media screen and (max-width: 576px) {
			left: 50%;
			top: calc(50% - 100px);
			transform: translateX(-50%);
		}
	}
	&__link {
		@include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
		z-index: 10;
	}
	&__block {
		width: 47%;
		padding-bottom: 35px;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: 1024px) {
			padding-bottom: 15px;
		}
		@media screen and (max-width: 576px) {
			width: 100%;
		}
		&:first-child {
			@media screen and (max-width: 576px) {
				padding-bottom: 60px;
			}
		}
		&:last-child {
			@media screen and (max-width: 576px) {
				padding-top: 60px;
			}
		}
	}
	&__img {
		display: block;
		margin: 35px auto;
		max-width: 100%;
	}
	&__title-main {
		width: 100%;
		text-align: center;
	}
}