.product-compare {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__block {
		width: 47%;
		padding-bottom: 35px;
		position: relative;
		@media screen and (max-width: 1024px) {
			padding-bottom: 15px;
		}
		&:not(:last-of-type) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 107%;
				width: 1px;
				height: 100%;
				background-color: $grey;
			}
			&::after {
				content: 'VC';
				@include position('absolute', $left: calc(107% - 62px), $top: 50%);
				z-index: 2;
				@include size(124px);
				margin-top: -62px;
				font-size: 64px;
				line-height: 124px;
				text-align: center;
				color: $accent_color;
				background-color: $light-grey;
				border-radius: 50%;
				@media screen and (max-width: 1024px) {
					left: calc(107% - 32px);
					@include size(62px);
					margin-top: -31px;
					line-height: 62px;
					font-size: 32px;
				}
				@media screen and (max-width: 480px) {
					left: calc(107% - 18px);
					@include size(36px);
					margin-top: -18px;
					line-height: 36px;
					font-size: 18px;
				}
			}
		}
	}
	&__img {
		display: block;
		margin: 35px auto;
		max-width: 100%;
	}
	&__title-main {
		width: 100%;
		text-align: center;
	}
}