.reviews {
	margin-top: 70px;
	&-comments {
		margin-top: 10px;
		padding-top: 25px;
		border-top: 1px solid $grey;
	}
	&-comment {
		padding: 20px;
		background-color: $light-grey;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}