.product-compare 
	.product-compare__block 
		.product-header 
			h2.product-header__title.page-title-small 
				a(href="") Dewalt DC735 
			a.btn-price-amazon(href="") 
				span.btn-price-amazon__text See price
				img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
		.product-compare__img
			picture
				source(type="image/webp", srcset="static/images/content/product/Dewalt DC771.webp")
				img(src="static/images/content/product/Dewalt DC771.png", alt="Dewalt DC771")
		
	.product-compare__block 
		.product-header
			h2.product-header__title.page-title-small
				a(href="") Dewalt DC776 
			a.btn-price-amazon(href="") 
				span.btn-price-amazon__text See price
				img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
		.product-compare__img
			picture
				source(type="image/webp", srcset="static/images/content/product/Dewalt DC776.webp")
				img(src="static/images/content/product/Dewalt DC776.png", alt="Dewalt DC776")
	h1.product-compare__title-main.page-title-main Dewalt DC771 vs  Dewalt DC776
