.product-compare 
	.product-compare__block 
		.product-header.product-header--top 
			h2.product-header__title.page-title-small Dewalt DC735
			button.product-btn 
				span.product-btn__text 
					span.block Dewalt DC735
					span.block 4235235551
				+icon('shopping-cart', 'product-btn__icon')
		picture 
			source(type="image/webp", srcset="static/images/content/product/Dewalt DC771.webp")
			img.product-compare__img(src="static/images/content/product/Dewalt DC771.png", alt="Dewalt DC771")
		a.btn-price-amazon(href="") 
			span.btn-price-amazon__text See price
			img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
	.product-compare__block 
		.product-header.product-header--top
			h2.product-header__title.page-title-small Dewalt DC776
			button.product-btn 
				span.product-btn__text 
					span.block Dewalt DC776
					span.block 4235235551
				+icon('shopping-cart', 'product-btn__icon')
		picture 
			source(type="image/webp", srcset="static/images/content/product/Dewalt DC776.webp")
			img.product-compare__img(src="static/images/content/product/Dewalt DC776.png", alt="Dewalt DC776")
		a.btn-price-amazon(href="") 
			span.btn-price-amazon__text See price
			img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
	h1.product-compare__title-main.page-title-main Dewalt DC771 vs  Dewalt DC776
