.questions-and-answers#q-a
	h2.page-title Questions &amp; Answers
	.page-row 
		.page-col 
			.product-header 
				h2.product-header__title.block-title Dewalt DC771
				a.btn-price-amazon.btn-price-amazon--small.hide(href="") 
					span.btn-price-amazon__text See price
					img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
			.accordion 
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title Can this be used on a concrete wall?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title How long a fully chged battery will have juice without being used?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title How long a fully chged battery will have juice without being used? How long a fully chged battery will have juice without being used?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title Can this be used on a concrete wall?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title How long a fully chged battery will have juice without being used?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title How long a fully chged battery will have juice without being used? How long a fully chged battery will have juice without being used?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
		.page-col 
			.product-header 
				h2.product-header__title.block-title Dewalt DC771
				a.btn-price-amazon.btn-price-amazon--small.hide(href="") 
					span.btn-price-amazon__text See price
					img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
			.accordion 
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title Can this be used on a concrete wall?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title How long a fully chged battery will have juice without being used?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title How long a fully chged battery will have juice without being used? How long a fully chged battery will have juice without being used?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title Can this be used on a concrete wall?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title How long a fully chged battery will have juice without being used?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
				.accordion__item
					.accordion__header.js-accordion
						h3.accordion__title How long a fully chged battery will have juice without being used? How long a fully chged battery will have juice without being used?
						+icon('arrow-down', 'accordion__icon')
					.accordion__body
						p.accordion__text.page-text he Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.