.reviews#reviews
	h2.page-title Reviews
	.page-row 
		.page-col 
			.product-header 
				h2.product-header__title.block-title Dewalt DC771
				a.btn-price-amazon.btn-price-amazon--small.hide(href="") 
					span.btn-price-amazon__text See price
					img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
			.reviews-comments 
				.reviews-comment
					p.page-text.js-read-more-text It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy. I use my Dewalt drills around the house only. after exactly one year and two months the drill. It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more. Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill It is Hurricane Season once again here in Florida. We are currently right smack on
				.reviews-comment
					p.page-text.js-read-more-text Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill
				.reviews-comment
					p.page-text.js-read-more-text Awesome drill. Bought this for a friend who needed it for a demo project. Took out a whole lot of screws in a floor in no time. Awesome drill. Bought this for a friend who needed it for a demo project. Took out a whole lot of screws in a floor in no time. Awesome drill. Bought this for a friend who needed it for a demo project. Took out a whole lot of screws in a floor in no time. Awesome drill. Bought this for a friend who needed it for a demo project. Took out a whole lot of screws in a floor in no time.
				.reviews-comment
					p.page-text.js-read-more-text It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy. I use my Dewalt drills around the house only. after exactly one year and two months the drill. It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill It is Hurricane Season once again here in Florida. We are currently right smack on
				.reviews-comment
					p.page-text.js-read-more-text Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill
				.reviews-comment
					p.page-text.js-read-more-text Awesome drill. Bought this for a friend who needed it for a demo project. Took out a whole lot of screws in a floor in no time.
		.page-col 
			.product-header 
				h2.product-header__title.block-title Dewalt DC776
				a.btn-price-amazon.btn-price-amazon--small.hide(href="") 
					span.btn-price-amazon__text See price
					img.btn-price-amazon__icon(src="static/images/general/amazon_icon.svg", alt="")
			.reviews-comments 
				.reviews-comment
					p.page-text.js-read-more-text It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy. I use my Dewalt drills around the house only. after exactly one year and two months the drill. It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill It is Hurricane Season once again here in Florida. We are currently right smack on
				.reviews-comment
					p.page-text.js-read-more-text Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill
				.reviews-comment
					p.page-text.js-read-more-text Awesome drill. Bought this for a friend who needed it for a demo project. Took out a whole lot of screws in a floor in no time.
				.reviews-comment
					p.page-text.js-read-more-text It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy. I use my Dewalt drills around the house only. after exactly one year and two months the drill. It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill It is Hurricane Season once again here in Florida. We are currently right smack on
				.reviews-comment
					p.page-text.js-read-more-text Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill
				.reviews-comment
					p.page-text.js-read-more-text Awesome drill. Bought this for a friend who needed it for a demo project. Took out a whole lot of screws in a floor in no time.