.banner {
  max-width: 824px;
  width: 100%;
  padding: 30px;
  display: flex;
  border: 15px solid $light-grey;

  @media screen and (max-width: 680px) {
    flex-direction: column;
  }
  @media screen and (max-width: 576px) {
    max-width: 222px;
    padding: 20px 10px;
  }

  &-img, &-img-small {
    text-align: center;
    flex: none;
    margin-right: 20px;

    @media screen and (max-width: 680px) {
      margin-right: 0;
      margin-bottom: 15px;
    }

    img {
      max-width: 100%;
    }
  }

  &-img {
    max-width: 245px;
    aspect-ratio: 245/150;
    position: relative;

    img {
      height: 150px;
    }

    .banner-circular {
      @include position(absolute, $left: 0, $bottom: 0);
    }
  }

  &-img-small {
    max-width: 155px;
    aspect-ratio: 155/95;

    @media screen and (max-width: 680px) {
      max-width: 245px;
      aspect-ratio: 245/150;
    }

    img {
      height: 95px;
      @media screen and (max-width: 680px) {
        height: 150px;
      }
    }
  }

  &-content-flex {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    margin: auto 0;

    @media screen and (max-width: 680px) {
      flex-direction: column;
      align-items: flex-start;
    }

    & > *:not(:last-child) {
      margin-right: 15px;
    }

    .banner-title {
      max-width: 245px;
      @media screen and (max-width: 680px) {
        max-width: 100%;
      }
    }
  }

  &-title {
    margin-bottom: 10px;
    @include rem(18);
    line-height: 1.36;
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 680px) {
      justify-content: flex-start;
    }

    @media screen and (max-width: 576px) {
      .banner-circular, .banner-circular-small {
        display: none;
      }
    }

    & > *:not(:last-child) {
      margin-right: 20px;
    }
  }

  &-circular {
    transform: scale(.9);
  }

  &-circular-small {
    transform: scale(.7);
  }

  &-text {
    margin-top: 25px;
    @include rem(16);
    line-height: 1.36;
    @media screen and (max-width: 680px) {
      margin: 15px 0;
    }
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &-btn-amazon {
    @media screen and (max-width: 576px) {
      @include size(175px, 42px);
      @include rem(14);
    }
  }
}

.banners-container {
  @extend %center-column;

  & > * {
    margin: 50px;
  }
}