.brands-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  @media screen and (max-width: 576px) {
    margin-top: 30px;
    margin-bottom: -30px;
  }
  &__item {
    max-width: 165px;
    margin: 0 20px 60px;
    @media screen and (max-width: 576px) {
      max-width: 140px;
      margin: 0 15px 50px;
    }
    img {
      width: 100%;
    }
  }
}