.form-review {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  &__group {
    display: flex;
    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
    &:not(:last-of-type) {
      margin-bottom: 15px;
      @media screen and (max-width: 576px) {
        margin-bottom: 30px;
      }
    }
  }
  &__label {
    flex: none;
    width: 120px;
    margin-right: 10px;
    @include rem(18);
    line-height: 1.36;
    font-weight: 600;
    @media screen and (max-width: 576px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  label.form-review__label {
    margin-top: 15px;
    @media screen and (max-width: 576px) {
      margin-top: 0;
    }
  }
  &__rating {
    @media screen and (max-width: 576px) {
      margin-top: 20px;
    }
  }
  &__star {
    @include size(26px);
    fill: $star-grey;
    &.active {
      fill: $accent_color;
    }
  }
  &__field, &__message {
    width: 100%;
    border: 1px solid $grey-border;
    transition: border-color .3s;
    &:focus {
      border-color: $accent_color;
    }
  }
  &__field {
    @include size(293px, 57px);
    padding: 0 10px;
    border-radius: 0 30px 30px 0;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  &__message {
    padding: 10px;
    min-height: 155px;
    border-radius: 0 45px 45px 0;
  }
  &__btn {
    margin-top: 35px;
    margin-left: auto;
  }
}