.header-nav {
	margin-left: auto;
	padding-right: 60px;
	@media screen and (max-width: 800px) {
		display: none;
	}
	&__link {
		margin-left: 30px;
		text-transform: uppercase;
	}
}

/* mobile menu */
.mobile-menu {
	display: none;
	text-align: center;
	margin-right: 10px;
	@media screen and (max-width: 800px) {
		display: block;
	}
}
.mobile-menu__nav {
	position: absolute;
	z-index: 1000;
	top: calc(100% + 10px);
	left: 0;
	padding: 30px 10px;
	width: 290px;
	min-height: 100vh;
	color: #fff;
	font-size: 18px;
	background-color: $accent_color;
	transform: translateX(calc(-100vw + 20px));
	transition: transform .3s;
}
.mobile-menu__nav.is-open {
	transform: translateX(0);
}
.mobile-menu__link {
	display: block;
	text-transform: uppercase;
}
.mobile-menu__link:not(:last-child) {
	margin-bottom: 20px;
}

/* hamburger */
.hamburger {
	width: 64px;
	height: 64px;
	transform: scale(0.7);
	-webkit-touch-callout: none;
	user-select: none;
}
.hamburger__top,
.hamburger__bottom {
	position: absolute;
	display: block;
	height: 4px;
	width: 36px;
	border-radius: 2px;
	background: #fff;
	transform-origin: 34px 2px;
	transform: rotate(0deg); 
	transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
}
.hamburger__top {
	top: 19px;
	left: 14px;
}
.hamburger__bottom {
	top: 41px;
	left: 14px;
}
.hamburger path,
.hamburger line {
	stroke: #fff;
	stroke-linecap: round;
}
#circle {
	stroke-dasharray: 1 100 32 300; 
	stroke-dashoffset: 101;
	transition: all 750ms ease; 
}
.hamburger.is-closed #circle {
	stroke-dasharray: 1 100 190 300;
	stroke-dashoffset: 1;
}
.hamburger.is-closed .hamburger__top {
	transform: translateX(-4.5px) rotate(-45deg);
}
.hamburger.is-closed .hamburger__bottom {
	transform: translateX(-4.5px) rotate(45deg);
}