.filter.active
    .filter-header.js-accordion
        span.filter-title Voltage (volts)
        +icon("arrow-down", "filter-icon-arrow")
    .filter-content
        ul.filter-list
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 18V
                    a.filter-link(href="#") (139)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 20V
                    a.filter-link(href="#") (9)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 12V
                    a.filter-link(href="#") (139)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 40V
                    a.filter-link(href="#") (23)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 22V
                    a.filter-link(href="#") (11)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 18V
                    a.filter-link(href="#") (139)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 20V
                    a.filter-link(href="#") (9)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 12V
                    a.filter-link(href="#") (139)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 40V
                    a.filter-link(href="#") (23)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text 22V
                    a.filter-link(href="#") (11)
        span.filter-view-all View all