.filter.active
    .filter-header.js-accordion
        span.filter-title Review Rating
        +icon("arrow-down", "filter-icon-arrow")
    .filter-content
        .rating.js-rating
            +iconStarRate("star", "rating__star pointer js-rating-star", "1")
            +iconStarRate("star", "rating__star pointer js-rating-star", "2")
            +iconStarRate("star", "rating__star pointer js-rating-star", "3")
            +iconStarRate("star", "rating__star pointer js-rating-star", "4")
            +iconStarRate("star", "rating__star pointer js-rating-star", "5")
        span.filter-descr Please choose a rating