.filter
    .filter-header.js-accordion
        span.filter-title Brand
        +icon("arrow-down", "filter-icon-arrow")
    .filter-content
        input.filter-search(type="text", placeholder="Search")
        ul.filter-list
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Makita
                    a.filter-link(href="#") (19)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Dewalt
                    a.filter-link(href="#") (9)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Milwaukee
                    a.filter-link(href="#") (49)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Bosch
                    a.filter-link(href="#") (23)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Ryobi
                    a.filter-link(href="#") (11)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Makita
                    a.filter-link(href="#") (19)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Dewalt
                    a.filter-link(href="#") (9)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Milwaukee
                    a.filter-link(href="#") (49)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Bosch
                    a.filter-link(href="#") (23)
            li.filter-item
                label.filter-label
                    input.filter-checkbox(type="checkbox")
                    +icon("checked", "filter-icon-checked")
                    span.filter-text Ryobi
                    a.filter-link(href="#") (11)
        span.filter-view-all View all