section.help-center
    h2.page-title Help Center
    .help-center__content
        .help-center__item
            h6.help-center__title Power Drills
            a.help-center__link(href="#") Power Drills
            a.help-center__link(href="#") Shop 72 x 80 Painted Fiberglass Doors
            a.help-center__link(href="#") Shop Single Bore 30 x 80 Single Prehung
            a.help-center__link(href="#") No panel 32 x 80 Fiberglass Doors
            a.help-center__link(href="#") 5 Lite 32 x 80 Single Prehung Doors
        .help-center__item
            h6.help-center__title Hardware
            a.help-center__link(href="#") Gibraltar Mailboxes Gray Post Mount Mailboxes
            a.help-center__link(href="#") Shop Free Shipping Reflective Driveway Markers
            a.help-center__link(href="#") Shop Bronze Rustic Entry Door Knobs
            a.help-center__link(href="#") Everbilt Round Cabinet Knobs
            a.help-center__link(href="#") Locking Mailbox Mailboxes With Post
            a.help-center__link(href="#") Metal Stock
        .help-center__item
            h6.help-center__title Impact Drivers
            a.help-center__link(href="#") White and Black Ottomans
            a.help-center__link(href="#") Playtime Kids Playroom
            a.help-center__link(href="#") Shop Wood Kids Nightstands
            a.help-center__link(href="#") Mahogany with Black Granite Top
            a.help-center__link(href="#") Wall-Mounted Mirror Coat Racks
    button.btn-see-more.js-see-more-help See more