section.compare
	.page-header
		h2.page-title.mb-20 Compare
		p.page-text Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
	.product-compare-slider
		.js-product-compare-slider
			.product-compare
				.product-compare__block
					.product-header
						h2.product-header__title.page-title-small
							a(href="") Dewalt DC735
						button.btn-amazon.mt-10
							span.btn-amazon__text See price
							span.btn-amazon__img
								img(src="static/images/general/amazon_icon.svg", alt="")
					picture
						source(type="image/webp", srcset="static/images/content/product/Dewalt DC771.webp")
						img.product-compare__img(src="static/images/content/product/Dewalt DC771.png", alt="Dewalt DC771")

				.product-compare__block
					.product-header
						h2.product-header__title.page-title-small
							a(href="") Dewalt product DC776 Dewalt DC776
						button.btn-amazon.mt-10
							span.btn-amazon__text See price
							span.btn-amazon__img
								img(src="static/images/general/amazon_icon.svg", alt="")
					picture
						source(type="image/webp", srcset="static/images/content/product/Dewalt DC776.webp")
						img.product-compare__img(src="static/images/content/product/Dewalt DC776.png", alt="Dewalt DC776")
			.product-compare
				.product-compare__block
					.product-header
						h2.product-header__title.page-title-small
							a(href="") Dewalt DC735
						button.btn-amazon.mt-10
							span.btn-amazon__text See price
							span.btn-amazon__img
								img(src="static/images/general/amazon_icon.svg", alt="")
					picture
						source(type="image/webp", srcset="static/images/content/products/DC-771/DC_771-1.webp")
						img.product-compare__img(src="static/images/content/products/DC-771/DC_771-1.png", alt="Dewalt DC771")

				.product-compare__block
					.product-header
						h2.product-header__title.page-title-small
							a(href="") Dewalt product DC776 Dewalt DC776
						button.btn-amazon.mt-10
							span.btn-amazon__text See price
							span.btn-amazon__img
								img(src="static/images/general/amazon_icon.svg", alt="")
					picture
						source(type="image/webp", srcset="static/images/content/products/DC-771/DC_771-1.webp")
						img.product-compare__img(src="static/images/content/products/DC-771/DC_771-1.png", alt="Dewalt DC776")
		button.product-compare-slider__btn.product-compare-slider__btn--prev
			svg.slider-arrow(width='40' height='40' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
				circle.cls-1(cx='12' cy='12' r='11')
				polyline.cls-1(points='9 15 6 12 9 9')
				line.cls-1(x1='6' x2='18' y1='12' y2='12')
		button.product-compare-slider__btn.product-compare-slider__btn--next
			svg.slider-arrow(width='40' height='40' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
				circle(cx='12' cy='12' r='11')
				polyline(points='15 9 18 12 15 15')
				line(x1='18' x2='6' y1='12' y2='12')