.reviews#reviews
	h2.page-title.mb-30 Reviews
	.product-header.border-bottom.pb-30
		h2.product-header__title.block-title Dewalt DC771
		button.btn-amazon
			span.btn-amazon__text See price
			span.btn-amazon__img
				img(src="static/images/general/amazon_icon.svg", alt="")
	.product-reviews
		.product-review.js-hide-review
			.product-review__header
				.product-review__user
					h6.product-review__user-name Kevin
					.product-review__stars(data-rating="4")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
				span.product-review__date 16 December 2022 at 16:59
			span.page-text It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy. I use my Dewalt drills around the house only. after exactly one year and two months the drill. It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill It is Hurricane Season once again here in Florida. We are currently right smack on
			.product-review__images
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
		.product-review.js-hide-review
			.product-review__header
				.product-review__user
					h6.product-review__user-name Kevin
					.product-review__stars(data-rating="0")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
				span.product-review__date 16 December 2022 at 16:59
			span.page-text It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy. I use my Dewalt drills around the house only. after exactly one year and two months the drill. It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill It is Hurricane Season once again here in Florida. We are currently right smack on
			.product-review__images
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
		.product-review.js-hide-review
			.product-review__header
				.product-review__user
					h6.product-review__user-name Jane
					.product-review__stars(data-rating="3")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
				span.product-review__date 16 December 2022 at 16:59
			span.page-text It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy. I use my Dewalt drills around the house only. after exactly one year and two months the drill. It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill It is Hurricane Season once again here in Florida. We are currently right smack on
			.product-review__images
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
		.product-review.js-hide-review
			.product-review__header
				.product-review__user
					h6.product-review__user-name Chris
					.product-review__stars(data-rating="5")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
						+icon("star", "product-review__star")
				span.product-review__date 16 December 2022 at 16:59
			span.page-text It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy. I use my Dewalt drills around the house only. after exactly one year and two months the drill. It is Hurricane Season once again here in Florida. We are currently right smack on the predicted landfall track line for a storm. I wanted to upgrade to a more... Im just an Average weekend home repair guy.I use my Dewalt drills around the house only...after exactly one year and two months the drill It is Hurricane Season once again here in Florida. We are currently right smack on
			.product-review__images
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
				picture
					source(type="image/webp", srcset=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.webp`)
					img.product-review__image(src=`static/images/content/products-reviews/Dewalt-DC771/Dewalt-DC771-1.jpg`, alt="Dewalt DC771")
	button.btn-add-review
		span.btn-add-review__text Add your review
		span.btn-add-review__dialog
			+icon("dialog", "btn-add-review__icon-dialog")
			span.btn-add-review__dialog-text Writing a review...