section.score(style="background-image: url(static/images/content/pages/product/section_score.jpg)")
    .score-info
        h2.score-info__title How we <span>Score</span>
        a(href="#").score-info__link Learn more
    .score-list
        .score-list__item.yellow
            span.score-list__number 8.9
            span.score-list__text Popularity
        .score-list__item.blue
            span.score-list__number 7.9
            span.score-list__text Reviews
        .score-list__item.khaki
            span.score-list__number 9.5
            span.score-list__text Reviews
        .score-list__item.grey
            span.score-list__number 9.5
            span.score-list__text Reviews
        .score-list__item.green
            span.score-list__number 9.5
            span.score-list__text Reviews
