.specifications#specifications
	h2.page-title.js-open-dropdown
		| Specifications
		span.caret-dropdown
	.specifications-content.js-dropdown
		.product-header.mt-30.border-bottom
			h2.product-header__title.block-title Dewalt DC771
			button.btn-amazon.mb-30
				span.btn-amazon__text See price
				span.btn-amazon__img
					img(src="static/images/general/amazon_icon.svg", alt="")
		.specifications-block
			h3.block-title Dimensions
			.specifications-table
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Product Depth (in.)
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Product Height (in.)
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Product Depth (in.)
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in
		.specifications-block
			h3.block-title Details
			.specifications-table
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Battery Amp Hours
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Battery | Charger
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 1,3 Ah Batteries &amp; Charger Included
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Product Depth (in.)
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Battery | Charger
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 1,3 Ah Batteries &amp; Charger Included
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Product Depth (in.)
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Battery | Charger
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 1,3 Ah Batteries &amp; Charger Included
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Product Depth (in.)
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Battery | Charger
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 1,3 Ah Batteries &amp; Charger Included
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Product Depth (in.)
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Battery | Charger
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 1,3 Ah Batteries &amp; Charger Included
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Product Depth (in.)
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Battery | Charger
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 1,3 Ah Batteries &amp; Charger Included
				.specifications-table__tr
					.specifications-table__td
						span.specifications-table__text Product Depth (in.)
						.tooltip
							+icon('question', 'tooltip__icon')
							.tooltip__info Lorem ipsum dolor sit amet consectetur adipisicing elit.
					.specifications-table__td
						span.specifications-table__text 7,52 in