.verdict#verdict
	h2.page-title Description
	.verdict__info
		p.verdict__text.js-read-more-text The Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles.
		p.verdict__text.js-read-more-text The Samsung Q80/Q80T QLED is better than the Samsung Q70/Q70T QLED for most uses. The Q80T has a full-array local dimming feature, can get brighter in HDR, and has much wider viewing angles. The Q80T also has better color accuracy and a faster response time, but due to its 'Ultra Viewing Angle' layer, its contrast ratio is much lower than the Q70T, making blacks look a bit more grayish.
