$accent_color: #0085A1;
$error_color: #dc3545;
$text_color: #212529;
$light-grey: #F7F7F7;
$dark-grey: #434343;
$medium-grey: #E8EAEB;
$grey: #929292;
$black: #000;

$yellow: #E7D57F;
$blue: #449DE5;
$khaki: #7E9768;
$grey-lighten: #D1D3D4;
$green: #39B54A;

$desktop-width: 1150px;