.modal-background.js-modal-add-question
    .modal-container
        .modal
            .modal-content
                span.modal-close

                h2.modal-title Add question
                .modal-product
                    a.modal-product__img(href="#")
                        picture
                            source(type="image/webp", srcset=`static/images/content/products/DC-771/DC_771-1.webp`)
                            img(src=`static/images/content/products/DC-771/DC_771-1.png`, alt="DC_771-1")
                    a.modal-product__title(href="#") Dewalt Atomic 20-Volt MAX Cordless Brushless Compact 1/4 in.Dewalt Atomic 20-Volt MAX Cordless Brushless
                form.form-review
                    .form-review__group
                        label.form-review__label(for="form-review-message") Your review:
                        textarea.form-review__message(id="form-review-message")
                    button.form-review__btn.btn-add-review
                        span.btn-add-review__text Submit
                        span.btn-add-review__dialog
                            +icon("btn-arrow-right", "btn-add-review__icon-dialog")
                            span.btn-add-review__dialog-text Submit review...