mixin productTableItem(percent,className)
    .product-table__row(class=className)
        h5.product-table__title Current tool
        .product-table__col
            a.product-table__img(href="#")
                picture
                    source(type="image/webp", srcset=`static/images/content/products/DC-771/DC_771-1.webp`)
                    img(src=`static/images/content/products/DC-771/DC_771-1.png`, alt=alt)
            a.product-table__link(href="#") Dewalt Atomic 20-Volt MAX Cordless Brushless Compact 1/4 in.
        .product-table__col
            .circular.js-circular-progress(data-percent=percent)
                svg.circular-progress
                    circle(r='30' cx='35' cy='35')
                    circle.circular-progress__percent(r='30' cx='35' cy='35')
                span.circular-info
                    span.circular-info__number
                    span.circular-info__text Points
            a.btn-amazon(href="#")
                span.btn-amazon__text See price
                span.btn-amazon__img
                    img(src="static/images/general/amazon_icon.svg", alt="")

section.rankings
    h2.page-title Our rankings
    .product-table
        +productTableItem(55)
        +productTableItem(72)
        +productTableItem(55, "current")
        +productTableItem(45)
        +productTableItem(55)

