.worker-info
    .worker-info__img
        picture
            source(type="image/webp", srcset="static/images/content/workers/general_director.webp")
            img(src="static/images/content/workers/general_director.png", alt="Ivanov Sergey Pavlovich")
    .worker-info__content
        h6.worker-info__name Ivanov Sergey Pavlovich
        span.worker-info__job General director
        p.worker-info__descr Power saws can be an essential tool when it comes to handling home improvement projects.  Power saws can be an essential tool when it comes to handling home improvement projects. Power saws can be an essential tool when it comes to handling home improvement projects. Power saws can be an essential tool when it comes to handling home improvement projects.